.app__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--color-black);
}

.app__navbar-logo {
    display: flex;
}
.app__navbar-logo a {
    font-size: 36px;
    font-family: var(--font-base);
    letter-spacing: -0.04em;
    color: var(--color-crimson);
}

.app__navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.app__navbar-menu {
    display: none;
    position: relative;
}

.app__navbar-menu_links {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    background: var(--color-bg);
    border: 1px solid var(--color-bg);
    outline: none;
    border-radius: 10px;
}

.app__navbar-links a ,
.app__navbar-menu_links a{
    font-family: var(--font-alt);
    color: var(--color-white);
}
.app__navbar-links a {
    margin: 0 1rem;
    font-size: 20px;
}
.app__navbar-menu_links a {
    margin: 1rem;
    font-size: 18px;
}

.app__navbar-menu_links a:hover,
.app__navbar-links a:hover {
    color: var(--color-text);
}



@media screen and (max-width:1050px) {
    .app__navbar-links {
        display: none;
    }
    .app__navbar-menu {
        display: flex;
    }
}
